<!--网页头部 start-->
<!--{include file='Tool/Public/header.html'}-->
<!--网页头部 end-->
<!--网页栏目 start-->
<!--{include file='Tool/Public/markmenu.html'}-->
<!--网页栏目 end-->

<article data-am-widget="paragraph" class="am-paragraph am-paragraph-default article_nr" data-am-paragraph="{ tableScrollable: true, pureview: true }">
    <h1 class="article_nr_title"><!--{$markdown['title']}--></h1>
    <div class="am_list_author">
        <a href="javascript:void(0)">
            <span class="am_list_author_ico" style="background-image: url(<!--{$markdown['user_avatar']}-->);"></span>
            <span class="name"><!--{$markdown['user_nickname']}--></span>
        </a>
        <span class="am_news_time">&nbsp;•&nbsp;<time class="timeago" title="2015-08-13 08:02:40 +0800" datetime="2015-08-13 08:02:40 +0800"><!--{$markdown['datetime']}--></time></span>
    </div>
    <div class="article_nr_content">
        <div id="layout">
            <div id="test-editormd-view">
                <textarea id="append-test" style="display:none;">
                    <!--{$markdown['content']}-->
                </textarea>
            </div>
        </div>
    </div>
    <div class="article_nr_more">
        <div class="article_nr_l">
            <a href=""><i class="am-icon-btn am-icon-thumbs-o-up"></i></a>
            <span>16</span>
        </div>
        <div class="article_nr_more_r">
            <span>分享 </span>
            <span class="article_nr_more_ico ">
              <a href="###" class="am-icon-btn am-secondary am-icon-qq"></a>
              <a href="###" class="am-icon-btn am-success am-icon-weixin"></a>
              <a href="###" class="am-icon-btn am-danger am-icon-weibo"></a>
            </span>
        </div>
    </div>
</article>

<script src="/Public/style/mark/js/jquery.min.js"></script>
<script src="/Public/style/mark/lib/marked.min.js"></script>
<script src="/Public/style/mark/lib/prettify.min.js"></script>

<script src="/Public/style/mark/lib/raphael.min.js"></script>
<script src="/Public/style/mark/lib/underscore.min.js"></script>
<script src="/Public/style/mark/lib/sequence-diagram.min.js"></script>
<script src="/Public/style/mark/lib/flowchart.min.js"></script>
<script src="/Public/style/mark/lib/jquery.flowchart.min.js"></script>

<script src="/Public/style/mark/js/editormd.js"></script>
<script type="text/javascript">
    $(function () {
        var testEditormdView, testEditormdView;
        testEditormdView2 = editormd.markdownToHTML("test-editormd-view", {
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true,  // 默认不解析
        });
    });
</script>

<!--网页头部 start-->
<!--{include file='Tool/Public/footer.html'}-->
<!--网页头部 end-->