<!--{foreach $markdown item='list'}-->
<li class="am-g am-list-item-desced am_list_li">
    <div class=" am-list-main">
        <h3 class="am-list-item-hd am_list_title am_list_title_s">
            <a href="/tool/markdown/detail?id=<!--{$list['id']}-->" class="">
                <!--{$list['title']}--></a>
        </h3>
        <div class="am_list_author">
            <a href="javascript:void(0)"><span class="am_list_author_ico" style="background-image: url(<!--{$list['user_avatar']}-->);"></span><span
                class="name"><!--{$list['user_nickname']}--></span></a><span class="am_news_time">&nbsp;•&nbsp;
            <time class="timeago" title="2015-08-13 08:02:40 +0800" datetime="2015-08-13 08:02:40 +0800"><!--{$list['datetime']}--></time></span></div>

        <div class="am-list-item-text am_list_item_text">
            <!--{$list['desc']}-->
        </div>
    </div>
</li>
<!--{/foreach}-->