<!--网页头部 start-->
<!--{include file='Tool/Public/header.html'}-->
<!--网页头部 end-->

<div class="am-g am-imglist">
    <div class="row">
        <div class="am-u-md-6 am-u-sm-12 row-mb">
            <form class="am-form" action="" method="post">
                <fieldset>
                    <legend>输入翻译信息</legend>
                    <div class="am-form-group">
                        <label for="doc-select-1">语言：</label>
                        <select class="am-radius" id="doc-select-1" name="language">
                            <option selected="selected" value="en">英文</option>
                            <option value="ja">日文</option>
                            <option value="ko">韩文</option>
                            <option value="fr">法语</option>
                            <option value="zh_Hant">繁体</option>
                        </select>
                        <span class="am-form-caret"></span>
                    </div>
                    <div class="am-form-group">
                        <label for="doc-ta-1">文本域</label>
                        <textarea name="content" class="am-radius" rows="20" id="doc-ta-1"><!--{$postcontent}--></textarea>
                    </div>

                    <p>
                        <button type="submit" class="am-btn am-btn-default">提交</button>
                    </p>
                </fieldset>
            </form>

        </div>
    </div>
    <div class="row">
        <div class="am-u-md-6 am-u-sm-12 row-mb">
            <div class="am-form">
                <fieldset>
                    <legend>翻译结果</legend>
                    <div class="am-form-group">
                        <label for="doc-ta-1">文本域</label>
                        <textarea name="content" class="am-radius" rows="25" id="doc-ta-1"><!--{$content}--></textarea>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<!--网页头部 start-->
<!--{include file='Tool/Public/footer.html'}-->
<!--网页头部 end-->