<!--网页头部 start-->
<!--{include file='Tool/Public/header.html'}-->
<!--网页头部 end-->

<div class="am-tabs am-tabs-d2 am_news_tab">

    <div class="am-list-news-bd am_news_list_all">
        <ul class="am-list">
            <li class="am-g am-list-item-desced am_list_li">
                <div class=" am-list-main">
                    <h3 class="am-list-item-hd am_list_title am_list_title_s">
                        <a href="/tool/translate/fyHtml" class="">html源码翻译</a>
                    </h3>
                </div>
            </li>
            <li class="am-g am-list-item-desced am_list_li">
                <div class=" am-list-main">
                    <h3 class="am-list-item-hd am_list_title am_list_title_s">
                        <a href="/tool/translate/fyWord" class="">文字翻译</a>
                    </h3>
                </div>
            </li>
        </ul>
        <div class="am_news_load am_news_load_index"><span><i class="am-icon-spinner am-icon-spin"></i>查看更多笔记</span>
        </div>
    </div>
</div>
<!--网页头部 start-->
<!--{include file='Tool/Public/footer.html'}-->
<!--网页头部 end-->