
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            管理栏目列表
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                
                <li class="tpl-left-nav-item">
                    <a class="nav-link active" href="/admin/index/index">
                        <i class="am-icon-home">
                        </i>
                        <span>
                            首页
                        </span>
                    </a>
                </li>
                <!--{foreach $menus item='menu'}-->
                <li class="tpl-left-nav-item">
                    <a class="nav-link tpl-left-nav-link-list" href="javascript:;">
                        <i class="am-icon-table">
                        </i>
                        <span>
                            <!--{$menu.adminmenu_name}-->
                        </span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right">
                        </i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" >
                        <!--{foreach $menu['son'] item='son'}-->
                        <li>
                            <a href="<!--{$son['adminmenu_url']}-->">
                                <i class="am-icon-angle-right">
                                </i>
                                <span>
                                    <!--{$son['adminmenu_name']}-->
                                </span>
                                <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right">
                                </i>
                            </a>
                        </li>
                        <!--{/foreach}-->
                    </ul>
                </li>
                <!--{/foreach}-->
            </ul>
        </div>
    </div>