<!--头部 start-->
<!--{include file='Admin/Public/header.html'}-->
<!--头部 end-->

<div class="tpl-content-wrapper">
    <div class="tpl-content-page-title">
        Amaze UI 表单
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>
        <li><a href="#">表单</a></li>
        <li class="am-active">Amaze UI 表单</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span> 表单
            </div>
            <div class="tpl-portlet-input tpl-fz-ml">
                <div class="portlet-input input-small input-inline">
                    <div class="input-icon right">
                        <i class="am-icon-search"></i>
                        <input type="text" class="form-control form-control-solid" placeholder="搜索..."></div>
                </div>
            </div>
        </div>
        <div class="tpl-block ">

            <div class="am-g tpl-amazeui-form">


                <div class="am-u-sm-12 am-u-md-9">
                    <form class="am-form am-form-horizontal">
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">标题</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="user-name" class="mynews_title" name="title" value="<!--{$news['title']}-->">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">分类</label>
                            <div class="am-u-sm-9">
                                <select data-am-selected="{searchBox: 1}" class="mynews_cate_id">
                                    <option value="1">布艺</option>
                                    <option value="2">纸艺</option>
                                    <option value="3">Orange</option>
                                </select>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="user-phone" class="am-u-sm-3 am-form-label">描述</label>
                            <div class="am-u-sm-9">
                                <textarea class="" rows="5" id="user-intro" class="mynews_desc" name="desc"><!--{$news['desc']}--></textarea>
                            </div>
                        </div>

                        <div class="am-form-group">

                            <label for="user-weibo" class="am-u-sm-3 am-form-label">封面图</label>
                            <div class="am-u-sm-9">
                                <div class="am-form-group am-form-file">
                                    <div id="feedback" class="tpl-form-file-img">
                                        <img src="<!--{$news['thumb']}-->" alt="">
                                        <input type='text' class="mynews_thumb" name='thumb' value="<!--{$news['thumb']}-->">
                                    </div>
                                    <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                        <i class="am-icon-cloud-upload"></i> 添加封面图片
                                        <input type="file" multiple="multiple" id="inputfile" name="" class="photo">
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="am-form-group">
                            <label for="user-intro" class="am-u-sm-3 am-form-label">内容</label>
                            <div class="am-u-sm-9">
                                <div id="div1" class="mynews_content">
                                    <!--{$news['content']}-->
                                </div>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="button" class="am-btn am-btn-primary uu_submit">保存修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>


</div>
<!-- 引用js -->
<script type="text/javascript" src="/Public/style/admin/wangEditor/wangEditor.js"></script>
<script type="text/javascript">

    var E = window.wangEditor;
    var editor = new E('#div1');
    // 自定义菜单配置
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'justify',  // 对齐方式
        'image',  // 插入图片
        'video',  // 插入视频
        'code',  // 插入代码
    ]
    editor.customConfig.uploadImgShowBase64 = true; // 使用 base64 保存图片
    editor.customConfig.uploadImgServer = '/tool/upload/imgupload'; // 上传图片到服务器
//    editor.config.height = 'auto';
    editor.create();
    //图片上传
    $(document).ready(function(){
        //响应文件添加成功事件
        var feedback = $("#feedback");
        $("#inputfile").change(function(){
            if (feedback.children('img').length>1) {
                alert("最多只能选择两张图片");
                return false;
            }
            //创建FormData对象
            var data = new FormData();
            //为FormData对象添加数据
            $.each($('#inputfile')[0].files, function(i, file) {
                data.append('upload_file'+i, file);
            });
            $(".loading").show();    //显示加载图片
            //发送数据
            $.ajax({
                url:'/tool/upload/imgUploadOne', /*去过那个php文件*/
                type:'POST',  /*提交方式*/
                data:data,
                cache: false,
                contentType: false,        /*不可缺*/
                processData: false,         /*不可缺*/
                success:function(data){
                    if(data){
                        $("#feedback").html("<img src='"+data+"'><input type='text' class='mynews_thumb'  bname='thumb' value='"+data+"'>");
                    }
                },
                error:function(){
                    alert('上传出错');
                }
            });
        });
        $(".close").on("click",function(){
            $("#feedback").empty();
        });
    });

    $('.uu_submit').click(function () {
        var title = $(".mynews_title").val();
        var cate_id = $(".mynews_cate_id").val();
        var desc = $("#user-intro").val();
        var thumb = $(".mynews_thumb").val();
        // 获取编辑区域的html
        var content = $(".w-e-text").html();

        $.post('/admin/news/postedit', {"title": title,"cate_id": cate_id,"desc": desc,"thumb": thumb,"content": content,"id":<!--{$news['id']}-->}, function (data) {
            if (data.status == 200) {
                alert(data.message);
            } else {
                alert(data.message);
            }
        }, 'json');

    });
</script>


<!--图片上传 start-->
<!--{include file='Admin/Public/upload.html'}-->
<!--图片上传 end-->
<!--底部 start-->
<!--{include file='Admin/Public/footer.html'}-->
<!--底部 end-->
