<!--网页头部 start-->
<!--{include file='Public/header.html'}-->
<!--网页头部 end-->

<div class="get">
    <div class="am-g">
        <div class="am-u-lg-12">
            <div class="am-slider am-slider-default"  data-am-flexslider="{playAfterPaused: 8000,smoothHeight: true}">
                <ul class="am-slides tr-yunpan" >
                    <li><img src="/Public/style/home/img/netdisk-slider-p2.png" width="500px" height="278px"/></li>
                    <li><img src="/Public/style/home/img/netdisk-slider-p1.png" width="500px" height="278px"/></li>
                </ul>
            </div>
        </div>
        <div class="am-u-md-8 am-u-sm-centered">
            <form class="am-form">
                <fieldset class="am-form-set">
                    <input type="text" placeholder="取个名字">
                    <input type="text" placeholder="设个密码">
                    <input type="email" placeholder="填下邮箱">
                </fieldset>
                <button type="submit" class="am-btn am-btn-primary am-btn-block">注册个账号</button>
            </form>
        </div>
    </div>
</div>


</body></html>